// Required to customize bootstrap
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
// ---
@import 'node_modules/bootstrap/scss/buttons';

.btn-light {
  color: black;
  border: 1px solid #6c757d;
  background-color: white;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: white;
    border: 1px solid #6c757d;
    transform: scale(1.1);
    cursor: pointer;
  }
}
